<connectionStrings>
  <add name="GeographyEntities" connectionString="metadata=res://*/EF.DataModel.csdl|res://*/EF.DataModel.ssdl|res://*/EF.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=GeoDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>